[Unit]
Description=The Worker Components for Kubernetes
After=docker.service

[Service]
EnvironmentFile=/etc/kubernetes/k8s.conf
ExecStartPre=-/usr/bin/docker kill k8s-worker k8s-worker-proxy
ExecStartPre=-/usr/bin/docker rm k8s-worker k8s-worker-proxy
ExecStartPre=-/bin/sh -c "mkdir -p /etc/kubernetes/static-pods/worker; mount -B /var/lib/kubelet /var/lib/kubelet; mount --make-shared /var/lib/kubelet"
ExecStart=/bin/sh -c "exec docker run \
					--name=k8s-worker \
					--net=host \
					--pid=host \
					-v /etc/kubernetes/static-pods/worker:/etc/kubernetes/manifests \
					-v /sys:/sys:ro \
					-v /dev:/dev \
					-v /var/lib/docker/:/var/lib/docker:rw \
					-v /var/lib/kubelet:/var/lib/kubelet:shared \
					-v /var/run:/var/run:rw \
					--privileged \
					kubernetesonarm/hyperkube \
					/hyperkube kubelet \
						--allow-privileged \
						--pod_infra_container_image=kubernetesonarm/pause \
						--api-servers=http://${K8S_MASTER_IP}:8080 \
						--cluster-dns=${DNS_IP} \
						--cluster-domain=${DNS_DOMAIN} \
						--v=2 \
						--address=0.0.0.0 \
						--enable-server \
						--hostname-override=$(ip -o -4 addr list eth0 | awk '{print $4}' | cut -d/ -f1) \
						--config=/etc/kubernetes/manifests"

ExecStartPost=/usr/bin/docker run -d \
						--name=k8s-worker-proxy \
						--net=host \
						--privileged \
						kubernetesonarm/hyperkube /hyperkube proxy \
							--master=http://${K8S_MASTER_IP}:8080 \
							--proxy-mode=iptables \
							--resource-container="" \
							--v=2
ExecStop=/usr/bin/docker stop k8s-worker k8s-worker-proxy
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
