[Unit]
Description=The Master Components for Kubernetes
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill k8s-master
ExecStartPre=-/usr/bin/docker rm k8s-master
ExecStart=/etc/kubernetes/helpers/spin-up-k8s.sh master
ExecStop=/usr/bin/docker stop k8s-master

[Install]
WantedBy=multi-user.target