[Unit]
Description=The Master Components for Kubernetes
After=docker.service

[Service]
EnvironmentFile=/etc/kubernetes/k8s.conf
ExecStartPre=-/usr/bin/docker kill k8s-worker
ExecStartPre=-/usr/bin/docker rm k8s-worker
ExecStart=/etc/kubernetes/helpers/spin-up-k8s.sh
ExecStartPost=/usr/bin/docker run --name=worker-k8s-proxy --net=host --privileged k8s/hyperkube /hyperkube proxy --master=http://${K8S_MASTER_IP}:8080 --v=2
ExecStop=/usr/bin/docker stop k8s-worker

[Install]
WantedBy=multi-user.target