[Unit]
Description=The Master Components for Kubernetes
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill k8s-minion
ExecStartPre=-/usr/bin/docker rm k8s-minion
ExecStart=/etc/kubernetes/helpers/spin-up-k8s.sh
ExecStop=/usr/bin/docker stop k8s-minion

[Install]
WantedBy=multi-user.target